<%- include('./header') %>


<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <h3>My Certificate</h3>
            <div class="table-responsive">
                <table class="table table-striped text-center my-3">
                        <thead>
                            <tr class="table-dark text-center">
                                <th>Issuer</th>
                                <th>Issuer ID</th>
                                <th>Certificate</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>Household Registration Dept.</td>
                                <td>444</td>
                                <td>Household Certificate</td>
                                <td>true</td>
                                <td></td>
                            </tr>
                            <tr class="align-middle">
                                <td>ETS</td>
                                <td>555</td>
                                <td>TOEIC Certificate</td>
                                <td>false</td>
                                <td>
                                    <a href="" class="text-secondary">confirm</a>
                                </td>
                            </tr>
                            <tr class="align-middle">
                                <td>NTU Hospital</td>
                                <td>666</td>
                                <td>Health Examination Report</td>
                                <td>false</td>
                                <td>
                                    <a href="" class="text-secondary">confirm</a>
                                </td>
                            </tr>
                            <tr class="align-middle">
                                <td>TSMC</td>
                                <td>777</td>
                                <td>Employment Certificate</td>
                                <td>false</td>
                                <td>
                                    <a href="" class="text-secondary">confirm</a>
                                </td>
                            </tr>
                            <tr class="align-middle">
                                <td>Adecco</td>
                                <td>888</td>
                                <td>Training Certificate</td>
                                <td>true</td>
                                <td></td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <h3>Permission Management</h3>
            <div class="table-responsive">
                <table class="table table-striped text-center my-3">
                        <thead>
                            <tr class="table-dark text-center">
                                <th>Certificate</th>
                                <th>Reviewer</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>Household Certificate</td>
                                <td>Adecco</td>
                                <td>
                                    <a href="" class="text-secondary">add/</a>
                                    <a href="" class="text-secondary">delete reviewer/</a>
                                </td>
                            </tr>
                            <tr class="align-middle">
                                <td>Training Certificate</td>
                                <td>Adecco, TSMC</td>
                                <td>
                                    <a href="" class="text-secondary">add/</a>
                                    <a href="" class="text-secondary">delete reviewer/</a>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('./footer') %>